@import url("https://fonts.googleapis.com/css2?family=Geologica:wght,CRSV@100..900,0&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
	padding: 0;
	margin: 0;
	font-family: "Noto sans";
}
body {
	background: linear-gradient(#ebf2fc 0%, #eefbf9 100%);
	background-size: 100vw 100vh;
	padding: 20px;
}
header {
	display: flex;
	justify-content: space-between;
	background-color: white;
	padding: 10px;
	border-radius: 10px;
}
.logo {
	display: flex;
	align-items: center;
	gap: 10px;
}
.logoTitle {
	font-family: Geologica;
	font-weight: 600;
	font-size: 24px;
	color: #091540;
}
.themeChanger {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 12px;
	background-color: #eeeeee;
	width: 50px;
	height: 50px;
	border: none;
}
.ExtensionList {
	display: flex;
	flex-direction: column;
	align-items: center;
}
h1 {
	font-weight: 700;
	font-size: 34px;
	color: #091540;
}
.sorting1,
.sorting2,
.sorting3 {
	appearance: none;
	border-radius: 99px;
	background-color: white;
	font-weight: 400;
	font-size: 20px;
	color: #091540;
	border: 1px solid #d6e2f5;
	padding: 5px 15px;
}
.sorting1:checked,
.sorting2:checked,
.sorting3:checked {
	background-color: #c7231a;
	border: 1px solid #c7231a;
	color: white;
}
